<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Catalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
</head>
<body>
<br>
<br>
<div class="container">
    <h3 th:text="${elev.nume}"/>
    <br>
    <h4>Semestrul I</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Materie</th>
            <th>Note</th>
            <th>Medii</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="note : ${elev.semestrul1}">
            <tr>
                <td th:text="${note.getKey().getKey()}"></td>
                <td th:utext="${note.getKey().getValue()}"></td>
                <td th:text="${note.getValue()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <h4>Semestrul II</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Materie</th>
            <th>Note</th>
            <th>Medii</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="note : ${elev.semestrul2}">
            <tr>
                <td th:text="${note.getKey().getKey()}"></td>
                <td th:utext="${note.getKey().getValue()}"></td>
                <td th:text="${note.getValue()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>


</body>
</html>
